.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.App-header {
  width: 100%;
  background-color: #ee5e5e;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header div{
  display: flex;
  flex-direction: column;
}

.App-header input{
  height: 35px;
  width: 250px;
}

.App-header button{
  height: 81px;
  border: none;
  background-color: #d1d1d1;
  color: #000;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.Todo{
  display: flex;
  min-width: 500px;
  align-items: center;
  margin-top: 30px;
}

.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex:1 ;
  border-radius: 5px 0 0 5px;
}

.content span{
  flex:1 ;
  text-align: center;
  color: #fff;
  background-color: #ee5e5e;
   padding: 20px 10px;
   border: 1px solid #fff;
}

.Todo button{
  background-color: #056e80;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 22px;
  cursor: pointer;
}

